header {
    background-color: aquamarine;
    color: black;
    font-size: 12px;
    font-family: Arial 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}