<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body,html, * {
                margin: 0,auto,auto,0;
            }
            nav ul li  {
                display: inline-block;
                text-decoration: none;


                padding: 5px;
                background-color: gray;
                color: black;
                border: 1px solid black;
            }

        </style>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            gamelist app for gamers by a gamer like me!
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about">about</a>
                </li>
                <li>
                    <a href="/videos">about</a>
                </li>
            </ul>
        </nav>
        <main>
           <h1>Application ideas</h1>
           <p>software ideas </p>
        </main>
        <footer>
            </strong>created by the steel of holy steel</strong>


        </footer>
        <script async defer>
            let header = document.querySelector('header');
            let footer = document.querySelector('footer');
            header.style.backgroundColor = 'blue';
            header.style.color = 'white';
            header.style.fontFamily = 'Helvetica Nue';
            document.title = "Welcome to Gamelist!";
            
            footer.style.backgroundColor = 'blue';
            footer.style.color = 'white';
            footer.style.fontFamily = 'Helvetica Nue';
            document.title = "Welcome to Gamelist!";

        </script>
    </body>
</html>